streamlit

langchain
langchain-core
langchain-community
langchain-groq
langchain-tavily
langchain-mcp-adapters

langgraph
langgraph-checkpoint-postgres

mcp
psycopg[binary,pool]
psycopg_pool
python-dotenv

requests
tavily-python

typing_extensions